<!-- src/app/scene-preview/scene-preview.component.html -->
<div class="scene-container" [ngSwitch]="sceneType">
    <div *ngSwitchCase="'title'" class="scene-element scene-title">
      <p>Title Scene</p>
    </div>
    <div *ngSwitchCase="'slide'" class="scene-element scene-slide">
      <p>Slide Scene</p>
    </div>
    <div *ngSwitchCase="'screencast'" class="scene-element scene-screencast">
      <p>Screencast Scene</p>
    </div>
    <div *ngSwitchCase="'speaker'" class="scene-element scene-speaker">
      <p>Speaker Scene</p>
    </div>
    <div *ngSwitchDefault class="scene-element">
      <p>Bitte wähle einen Scenentyp.</p>
    </div>
    
    <!-- Farbiges Element aus assets/style.scss -->
    <div class="my-colored-element"></div>
  </div>
  